/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  /* color */

  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-neutral-grayish-blue: hsl(208, 11%, 55%);

  /* fonts */

  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  --fw-400: 500;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  height: 100%;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: var(--ff-secondary);

  /* background-color: var(--color-main-bg); */
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.7;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* debug purpose only - Remove ME */

header,
footer {
  border: 1px solid red;
}

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-block"
    "grow-together-block"
    "flowing-conversations-block"
    "your-users-block"
    "footer-block";
  gap: 4rem;
  justify-items: center;

  /* value as per style guide */
  min-width: 37.5rem;
}

.grow-together-block,
.flowing-conversations-block,
.your-users-block {
  width: 90%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  justify-items: center;

  padding: 2rem;

  box-shadow: 0 0 4px var(--clr-neutral-grayish-blue);
  border-radius: 2rem;
}

.grow-together-block {
  grid-template-areas:
    "grow-together-block__feature-image"
    "grow-together-block__feature-title"
    "grow-together-block__feature-info";
}

.flowing-conversations-block {
  grid-template-areas:
    "flowing-conversations-block__feature-image"
    "flowing-conversations-block__feature-title"
    "flowing-conversations-block__feature-info";
}

.your-users-block {
  grid-template-areas:
    "your-users-block__feature-image"
    "your-users-block__feature-title"
    "your-users-block__feature-info";
}

.grow-together-block__feature-image,
.flowing-conversations-block__feature-image,
.your-users-block__feature-image {
  width: 85%;
  margin-bottom: 4rem;
}

.grow-together-block__feature-title,
.flowing-conversations-block__feature-title,
.your-users-block__feature-title {
  font-size: 2.4rem;
}

.grow-together-block__feature-info,
.flowing-conversations-block__feature-info,
.your-users-block__feature-info {
  text-align: center;

  font-family: var(--ff-primary);

  color: var(--clr-neutral-grayish-blue);
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* component 1 */
.header-block {
  grid-area: header-block;
}

/* component 2 */
.grow-together-block {
  grid-area: grow-together-block;
}

.grow-together-block__feature-image {
  grid-area: grow-together-block__feature-image;
}

.grow-together-block__feature-title {
  grid-area: grow-together-block__feature-title;
}

.grow-together-block__feature-info {
  grid-area: grow-together-block__feature-info;
}

/* component 3 */
.flowing-conversations-block {
  grid-area: flowing-conversations-block;
}

.flowing-conversations-block__feature-image {
  grid-area: flowing-conversations-block__feature-image;
}

.flowing-conversations-block__feature-title {
  grid-area: flowing-conversations-block__feature-title;
}

.flowing-conversations-block__feature-info {
  grid-area: flowing-conversations-block__feature-info;
}

/* component 4 */
.your-users-block {
  grid-area: your-users-block;
}

.your-users-block__feature-image {
  grid-area: your-users-block__feature-image;
}

.your-users-block__feature-title {
  grid-area: your-users-block__feature-title;
}

.your-users-block__feature-info {
  grid-area: your-users-block__feature-info;
}

/* component 5 */
.footer-block {
  grid-area: footer-block;
}
